NewCustomerProcessBpelModule/src/CustomersToUpdateWS_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://webservices/" xmlns:tns="http://webservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="test" nillable="true" type="tns:test"/>

  <xs:element name="testResponse" nillable="true" type="tns:testResponse"/>

  <xs:complexType name="test">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="testResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

