PWebApplication/src/conf/wsdl/TestWebServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. -->
<definitions targetNamespace="http://ws/" name="TestWebServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws/" schemaLocation="TestWebServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getIdsToUpdate">
    <part name="parameters" element="tns:getIdsToUpdate"/>
  </message>
  <message name="getIdsToUpdateResponse">
    <part name="parameters" element="tns:getIdsToUpdateResponse"/>
  </message>
  <message name="getCustomers">
    <part name="parameters" element="tns:getCustomers"/>
  </message>
  <message name="getCustomersResponse">
    <part name="parameters" element="tns:getCustomersResponse"/>
  </message>
  <message name="test">
    <part name="parameters" element="tns:test"/>
  </message>
  <message name="testResponse">
    <part name="parameters" element="tns:testResponse"/>
  </message>
  <portType name="TestWebService">
    <operation name="getIdsToUpdate">
      <input message="tns:getIdsToUpdate"/>
      <output message="tns:getIdsToUpdateResponse"/>
    </operation>
    <operation name="getCustomers">
      <input message="tns:getCustomers"/>
      <output message="tns:getCustomersResponse"/>
    </operation>
    <operation name="test">
      <input message="tns:test"/>
      <output message="tns:testResponse"/>
    </operation>
  </portType>
  <binding name="TestWebServicePortBinding" type="tns:TestWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getIdsToUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCustomers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="test">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TestWebServiceService">
    <port name="TestWebServicePort" binding="tns:TestWebServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

